<% unless current_user.is_a? GuestUser %>
  <%= form_for @comments do |f| %>
    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_area :content, class: 'form-control' %>
    </div>
    <%= f.submit 'Post comment', class: 'btn btn-primary072' %>
  <% end %>
<% end %>