<footer>
  <div class="mastfoot">
    <div class="inner">
      <p class="app-footer"><%= @copyright %></p>
      <ul class="list-unstyled social-links">
        <li><a href="https://github.com/titanfat"><%= fa_icon "github" %></a></li>
        <li class="social-links"><a href="https://www.instagram.com/fat666/"><%= fa_icon "instagram" %></a></li>
        <li class="social-links"><a href="https://vk.com/jordanhudgens"><%= fa_icon "vk" %></a></li>
      </ul>
    </div>
  </div>
</footer>